Binaries
Build
DerivedDataCache
Intermediate
Saved
TEMP
Temp
Py
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Python


__pycache__
*-datas

private*
Content/Model3D
Content/StarterContent
Plugins
7-Zip
UHMP.uproject