Binaries
Build
DerivedDataCache
Intermediate
Saved
Py
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Python


Content/Model3D
Content/StarterContent
Plugins
7-Zip
UHMP.uproject