# Build and Release Folders
bin-debug/
bin-release/

*/__pycache__
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk
*.so
*.pyc
*.pyd
*.so
# gpu lock
*.glock
*.mp3
*.png

# pytorch model
*.pt
core
!MISSION/collective_assult/malib/core
TODO
__pycache__/
./build/
ALGORITHM/Starcraft/result/
ALGORITHM/Starcraft/model/
ZipResults/
VISUALIZE/train no aWiseAttn
VISUALIZE/train-half-death-reward
ZipResults/Starcraft/
result
# .vscode/
forattack-train/
full-cargo/
T*/
checkpoint/

PROFILE/
RECYCLE/
TEMP/
test_only_*.py
test_only_log
test_only_profile.txt
test_only_profilex.txt
debug_change_self_n_agent.json.profile.txt
debug2-2500pt-test_only_profile.txt
test_only_logdebug_change_self_n_agent.json.log
test_only_profiledebug_change_self_n_agent.json.txt
xx_profile_n_agents2.py
xx_profile_n_agents3.py
xx_profile_n_agents4.py
UTIL/keys.py
private*
fqx*.jsonc
my_*.jsonc
result.prof
ignore
bvrAI.log
ZHECKPOINT/*

THIRDPARTY/pymarl2/test

!ZHECKPOINT/test-50+50
ZHECKPOINT/test-50+50/*
!ZHECKPOINT/test-50+50/model.pt
!ZHECKPOINT/test-50+50/experiment.json
!ZHECKPOINT/test-50+50/test-50+50.jsonc
!ZHECKPOINT/test-50+50/test50.gif

!ZHECKPOINT/test-100+100
ZHECKPOINT/test-100+100/*
!ZHECKPOINT/test-100+100/model.pt
!ZHECKPOINT/test-100+100/experiment.json
!ZHECKPOINT/test-100+100/test-100+100.jsonc

!ZHECKPOINT/50RL-55opp
ZHECKPOINT/50RL-55opp/*
!ZHECKPOINT/50RL-55opp/test-50RL-55opp.jsonc
!ZHECKPOINT/50RL-55opp/model.pt
ZHECKPOINT/50RL-55opp/experiment.json

!ZHECKPOINT/test-cargo50
ZHECKPOINT/test-cargo50/*
!ZHECKPOINT/test-cargo50/model.pt
!ZHECKPOINT/test-cargo50/experiment.json
!ZHECKPOINT/test-cargo50/test-cargo50.jsonc
!ZHECKPOINT/test-cargo50/cargo50.jpg

!ZHECKPOINT/test-cargo50/history_cpt
ZHECKPOINT/test-cargo50/history_cpt/*
!ZHECKPOINT/test-cargo50/history_cpt/init.pkl

!ZHECKPOINT/test-50+50/butterfly.webp

!ZHECKPOINT/test-aii515
ZHECKPOINT/test-aii515/*
!ZHECKPOINT/test-aii515/model.pt
!ZHECKPOINT/test-aii515/experiment.json
!ZHECKPOINT/test-aii515/test-aii515.jsonc
!ZHECKPOINT/test-aii515/aii.jpg

!ZHECKPOINT/test-aii515/history_cpt
ZHECKPOINT/test-aii515/history_cpt/*
!ZHECKPOINT/test-aii515/history_cpt/init.pkl

!ZHECKPOINT/basic-ma-40-demo
ZHECKPOINT/basic-ma-40-demo/*
!ZHECKPOINT/basic-ma-40-demo/trained_model.pt
!ZHECKPOINT/basic-ma-40-demo/train.json
!ZHECKPOINT/basic-ma-40-demo/test.json

!ZHECKPOINT/adca-demo
ZHECKPOINT/adca-demo/*
!ZHECKPOINT/adca-demo/model_trained.pt
!ZHECKPOINT/adca-demo/train.json
!ZHECKPOINT/adca-demo/test.json

!ZHECKPOINT/uhmap_hete10vs10
ZHECKPOINT/uhmap_hete10vs10/backup_files
ZHECKPOINT/uhmap_hete10vs10/logger
!ZHECKPOINT/uhmap_hete10vs10/model_trained.pt
ZHECKPOINT/uhmap_hete10vs10/experiment.jsonc


cmd_io.txt
rec.jpg
detail_reward.jpg
z_*
ALGORITHM/conc_4hist_divtree3
ALGORITHM/conc_4hist_divtree2
example_dca_cs*
PersonalityDevelop.pdf

6vs7Pr-continue-train.jsonc
6vs7Pr.jsonc
6vs7PrTry2-Link.jsonc
6vs7PrTry2.jsonc
7vs7Pr.json
7vs7Pr.jsonc
batch_experiment_backup.py
mcom_buffer_0____starting_session.txt
temp.jpg
temp.jpg.jpg
x.txt
debug*.jsonc
HLT_eval.py
qplex-pad.jsonc
raw_exp.jsonc
info.json
UTIL/mem_watcher.py


ALGORITHM/mirror*